<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.routesme.vehicles">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.TETHER_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/taxi_screen_icon"
        android:keepScreenOn="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/taxi_screen_icon"
        android:supportsRtl="false"
        android:theme="@style/FullScreen_Light_Mode"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize|stateHidden"
        tools:replace="android:supportsRtl">
        <activity android:name=".view.activity.AdminConsoleItemDetailActivity"></activity>
        <activity android:name=".view.activity.RefreshTokenActivity" />
        <activity
            android:name=".view.activity.VehicleInformationActivity"
            android:theme="@style/FullScreen_Light_Mode"></activity>
        <activity
            android:name=".view.activity.RegistrationActivity"
            android:theme="@style/FullScreen_Light_Mode"></activity>

        <activity
            android:name=".view.activity.AdminConsolePanel"
            android:theme="@style/FullScreen_Light_Mode"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity android:name="com.github.pedrovgs.lynx.LynxActivity"/>
        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/FullScreen_Light_Mode" />
        <activity
            android:name=".view.activity.LearnMoreActivity"
            android:theme="@style/FullScreen_Light_Mode"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:theme="@style/FullScreen_Light_Mode"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".view.activity.ModelPresenter"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.MagicActivity">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="wifihotspot" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.HotSpotIntentService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.VideoService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".service.receiver.HotSpotIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fitc.wifihotspot.TURN_ON" />
                <action android:name="com.fitc.wifihotspot.TURN_OFF" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.receiver.ModeChangesReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.TrackingService"
            android:enabled="true" />
        <service
            android:name=".service.RefreshTokenService"
            android:enabled="true" />
        <service
            android:name=".service.BusValidatorService"
            android:enabled="true" />
        <service
            android:name=".service.BusPaymentService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyAdYkz1EGK0Iw2u2GyCZxGhxLBgijQ3s_U" />

        <service
            android:name=".service.FcmMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>