<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.routesme.taxiscreen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.TETHER_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.routesme.taxi_screen.kotlin.Class.App"
        android:allowBackup="true"
        android:icon="@mipmap/taxi_screen_icon"
        android:keepScreenOn="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/taxi_screen_icon"
        android:screenOrientation="landscape"
        android:supportsRtl="false"
        android:theme="@style/FullScreen_Light_Mode"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize|stateHidden"
        tools:replace="android:supportsRtl">
        <activity
            android:name="com.routesme.taxi_screen.kotlin.AdminConsolePanel.View.AdminConsolePanel"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen_Light_Mode"
            android:windowSoftInputMode="adjustNothing">


        </activity>
        <activity
            android:name="com.routesme.taxi_screen.kotlin.View.LoginScreens.LoginScreen"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen_Light_Mode" />
        <activity
            android:name="com.routesme.taxi_screen.kotlin.View.LoginScreens.LearnMoreScreen"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen_Light_Mode"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.routesme.taxi_screen.kotlin.View.HomeScreen.Activity.HomeScreen"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.routesme.taxi_screen.kotlin.View.ModelPresenter"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.routesme.taxi_screen.java.View.Login.TaxiInformationScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.routesme.taxi_screen.java.View.Login.TaxiInformationListScreen"
            android:screenOrientation="landscape" />

        <receiver
            android:name="com.routesme.taxi_screen.kotlin.Class.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Intent filters for broadcast receiver -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <activity android:name="com.routesme.taxi_screen.java.Hotspot_Configuration.MagicActivity">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="wifihotspot" />
            </intent-filter>
        </activity>

        <service
            android:name="com.routesme.taxi_screen.java.Hotspot_Configuration.HotSpotIntentService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.routesme.taxi_screen.java.Hotspot_Configuration.Receiver.HotSpotIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fitc.wifihotspot.TURN_ON" />
                <action android:name="com.fitc.wifihotspot.TURN_OFF" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.routesme.taxi_screen.kotlin.Class.ModeChangesReceiver" />

    </application>

</manifest>